
.panel-status-menu-hbox{
  font-size: 17px;
  border-radius: 5px;
  padding: 1px;
  margin-bottom: 2px;
}

.panel-status-menu-hbox-connected{
  background-color: rgba(10,130,10,0.6);
  border-radius: 5px;
  font-size: 17px;
  padding: 1px;
  margin-bottom: 2px;
}

.panel-status-menu-hbox-problem{
  background-color: rgba(200,150,30,0.6);
  border-radius: 5px;
  font-size: 17px;
  padding: 1px;
  margin-bottom: 2px;
}

.label-nvpn-panel{
  margin-bottom: 2px;
}

.label-server-info{
  font-size: 12px;
  font-style: italic;
}

.countries_submenu_label_item_selected_icon {
    icon-size: 15px;
}

.groups-submenu-label-item{
  font-style: italic;
}

.sub-menu-btn{
  margin-left:10px;
  margin-right: 10px;
}


.nvpn-action-button{
  color: rgba(255,255,255,1.0);
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(10,130,10,0.6);
}

.nvpn-action-button:hover{
  background-color: rgba(10,255,10,0.6)
}

.nvpn-action-button:active{
  color: rgba(255,255,255,0.6);
  font-weight: normal;
  background-color: rgba(10,127,10,0.6);
  padding: 2px;
  border: 3px;
  border-color: rgba(130,130,130,0.5);
}

.nvpn-action-button-dq{
  color: rgba(255,255,255,1.0);
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(130,10,10,0.6);
}

.nvpn-action-button-dq:hover{
  background-color: rgba(255,10,10,0.6)
}

.nvpn-action-button-dq:active{
  color: rgba(255,255,255,0.6);
  font-weight: normal;
  background-color: rgba(127,10,10,0.6);
  padding: 2px;
  border: 3px;
  border-color: rgba(130,130,130,0.5);
}

.nvpn-action-button-help{
  color: rgba(255,255,255,1.0);
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  background-color: rgba(200,150,30,0.6);
}

.nvpn-action-button-help:hover{
  background-color: rgba(255,200,60,0.4);
}

.nvpn-action-button-help:active{
  color: rgba(255,255,255,0.6);
  font-weight: normal;
  background-color: rgba(127,100,30,0.4);
  padding: 2px;
  border: 3px;
  border-color: rgba(130,130,130,0.5);
}

.nvpn-serv-entry-error{
  color: rgba(255, 0, 0, 1.0);
}


.opt-switcher-btn{
  font-size: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.opt-switcher-btn:hover,
.opt-switcher-btn:focus {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.nordvpn-version-warn{
  color: white;
  font-size: 11px;
  background-color: rgba(200, 100, 10,1.0);
  padding: 5px;
  border-radius: 5px;

  border: 1px;
  border-style: dashed;
  border-color: white;
}

.nordvpn-version-warn:hover{
  background-color: rgba(133, 66, 8, 0.7);
}

.dns-entry-error{
  color: rgb(255, 128, 0);
}

.dns-entry-validated{
  color: rgb(128, 255, 0);
}

.dns-cybersec-warning{
  font-size: 11px;
}

.add-fav-button{
  padding: 5px;
}

.add-fav-button:hover{
  padding: 6px;
}

.server-fav{
  background-color: rgba(0,0,0,0.1);
}

.server-fav:hover{
  background-color: rgba(255,255,255,0.1);
}

.fav-delete-btn{
  padding: 3px;
}

.fav-delete-btn:hover{
  padding: 4px;
  background-color: rgba(255,255,255,0.2);
}
