
.panel-status-menu-hbox{
  font-size: 15px;
  border-radius: 5px;
}

.nvpn-status-icon{}

.panel-status-menu-hbox-transition{
  background-color: rgba(200,150,30,0.6);
  border-radius: 5px;
  font-size: 15px;
}

.panel-status-menu-hbox-connected{
  background-color: rgba(10,130,10,0.6);
  border-radius: 5px;
  font-size: 15px;
}

.panel-status-menu-hbox-problem{
  background-color: rgba(130, 10, 10, 0.6);
  border-radius: 5px;
  font-size: 15px;
}

.label-nvpn-panel{
  margin-bottom: 2px;
}

.label-server-info{
  font-size: 12px;
  font-style: italic;
}

.countries_submenu_label_item_selected_icon {
    icon-size: 15px;
}

.system-menu-action{
  border-width: 1px;
}

.system-menu-action:hover{
  border-color: transparent;
  border-width: 1px;
}

.groups-submenu-label-item{
  font-style: italic;
}

.submenu-label-state-unavailable{
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.42);
}

.submenu-label-state-forced{
    color: rgb(192, 128, 16);
}

.sub-menu-btn{
  margin-left:0.5em;
  margin-right:0.5em;
  padding: 3px;
}

.sub-menu-btn:hover{
  background-color: rgba(255, 255, 255, 0.25);
}

.group-selected{
  background-color: rgb(0, 127, 255);
}


.nvpn-action-button{
  color: rgba(255,255,255,1.0);
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(10,130,10,0.6);
}

.nvpn-action-button:hover{
  background-color: rgba(10,255,10,0.6)
}

.nvpn-action-button:active{
  color: rgba(255,255,255,0.6);
  font-weight: normal;
  background-color: rgba(10,127,10,0.6);
  padding: 2px;
  border: 3px;
  border-color: rgba(130,130,130,0.5);
}

.nvpn-action-button-dq{
  color: rgba(255,255,255,1.0);
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(130,10,10,0.6);
}

.nvpn-action-button-dq:hover{
  background-color: rgba(255,10,10,0.6)
}

.nvpn-action-button-dq:active{
  color: rgba(255,255,255,0.6);
  font-weight: normal;
  background-color: rgba(127,10,10,0.6);
  padding: 2px;
  border: 3px;
  border-color: rgba(130,130,130,0.5);
}

.nvpn-action-button-help{
  color: rgba(255,255,255,1.0);
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  background-color: rgba(200,150,30,0.6);
}

.nvpn-action-button-help:hover{
  background-color: rgba(255,200,60,0.4);
}

.nvpn-action-button-help:active{
  color: rgba(255,255,255,0.6);
  font-weight: normal;
  background-color: rgba(127,100,30,0.4);
  padding: 2px;
  border: 3px;
  border-color: rgba(130,130,130,0.5);
}

.nvpn-serv-entry-error{
  color: rgba(255, 0, 0, 1.0);
}


.nvpn-submenu-icon{
  icon-size: 15px;
}


.opt-switcher-btn{
  font-size: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgba(0, 0, 0, 0.10);
}

.opt-switcher-btn:hover,
.opt-switcher-btn:focus {
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgba(255, 255, 255, 0.25);
}

.nordvpn-version-warn{
  color: white;
  font-size: 11px;
  background-color: rgba(200, 100, 10,1.0);
  padding: 5px;
  border-radius: 5px;

  border: 1px;
  border-style: dashed;
  border-color: white;
}

.nordvpn-version-warn:hover{
  background-color: rgba(133, 66, 8, 0.7);
}

.dns-entry-error{
  color: rgb(255, 128, 0);
}

.dns-entry-validated{
  color: rgb(128, 255, 0);
}

.dns-cybersec-warning{
  font-size: 11px;
}

.add-fav-button{
  padding: 5px;
  background-color: rgba(0,0,0,0.1);
}

.add-fav-button:hover{
  color: white;
  background-color: rgba(255,255,255,0.1);
}

.server-fav, .recent-location{
  background-color: rgba(0,0,0,0.1);
}

.server-fav:hover, .recent-location:hover {
  background-color: rgba(255,255,255,0.1);
}

.recent-location-label.pinned{
  font-style: italic;
  font-weight: bold;
}

.fav-delete-btn, .pin-btn{
  padding: 3px;
}

.fav-delete-btn:hover, .pin-btn:hover{
  padding: 3px;
  background-color: rgba(255,255,255,0.2);
}
